[submodule "src/grub"]
	path = src/grub
	url = https://github.com/aarch64-laptops/grub.git
	branch = laptops
[submodule "src/linux"]
	path = src/linux
	url = https://github.com/aarch64-laptops/linux.git
	branch = laptops
[submodule "src/linux-meta"]
	path = src/linux-meta
	url = https://github.com/aarch64-laptops/linux-meta.git
